/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/

body {
    font-family: 'Assistant', sans-serif;
	background-color: #393b47;
}

h1 {
	font-size: 2.5rem;
	font-weight: lighter;
}

h2 {
	font-size: 1.875rem;
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
	margin-left: 1rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: lighter;
	text-transform: uppercase;
}

p {
	font-size: 1rem;
}

header {
	background-color: #c54b3c;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
}

section {
	border: 1px solid #393b47;
	border-radius: 5px;
	padding: 1rem;
	align-items: center;
	margin: 1rem;
	height: auto;
	width: 25rem;
	background-color: #fff;
}

aside {
	border: 1px solid #393b47;
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
	background-color: #2b2e37;
	color: #fff;
}

section img {
	margin-right: 1rem;
}

footer {
	text-align: center;
	margin-top: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #2b2e37;
	color: #fff;
}

/* Mobile View */
@media screen and (max-width: 54rem) {
	section {
		display: grid;
		grid-template-columns: 40% 1fr;
	}
}


/* Medium View */
@media screen and (min-width: 54rem) {
	.flex-container {
		display: grid;
		grid-template-columns: 49% 49%;
	}
}


/* Largest View */

@media screen and (min-width: 70rem) {
	.wide-flex {
		display: flex;
	}
	
	main {
		max-width: 70rem;
		margin: auto;
	}
}